<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="card">
        <img class="img-fluid" src="https://dummyimage.com/600x300/ccc/fff.png&text={{ environment.name | capitalize }}" alt="{{ environment.name }}" />
        <div class="card-body">
            <p class="card-text">
                <i class="fa fa-code-fork"></i> {{ environment.defaultBranch }}
            </p>
            {% if environment.currentVersion %}
                <p class="card-text">
                    <i class="fa fa-clock-o"></i> {{ environment.currentVersion.number }}<br/>
                    <i class="fa fa-github-alt"></i> {{ environment.currentVersion.commit }}<br/>
                {% if environment.currentVersion.deployedAt and environment.currentVersion.deployedBy %}
                        <i class="fa fa-user"></i> {{ environment.currentVersion.deployedAt | date('d/m à H:i') }} by {{ environment.currentVersion.deployedBy.username }}
                    </p>
                {% endif %}
            {% endif %}
            <div class="text-center">
                <a href="{{ path('environment_show', { 'id': environment.id }) }}" class="btn btn-primary{% if not is_granted('deploy', environment) %} disabled{% endif %}" role="button">Access</a>
            </div>
        </div>
    </div>
</div>
